html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    overflow-x: hidden;
    background-color: #0C0C0A;
}

section {
    background-color: #0C0C0A;

}

.nav {
    z-index: 1000;
    display: flex;
    padding-top: 0px;
    background-color: #161614;
    position: fixed;
    width: 100%;
    border-bottom: 0.1px solid #FEF3C7;
    justify-content: space-between;
}

.nav h2 {
    font-size: auto;
    margin-left: 20px;
}

.menu {
    display: flex;
    gap: 30px;
    padding-right: 20px;
}

.nav h3 {
    font-size: auto;
    margin-top: 23px;
}


.nav a {
    text-decoration: none;
    color: #4d4d4b;
}

#hero {
    min-height: 100vh;
    width: 100%;
    padding-top: 70px;
    border-bottom: 0.1px solid #4d4d4b92;
}

.f1 {
    background-color: #0C0C0A;
    border-bottom: 0.1px solid #4d4d4b92;
    height: 250px;
}

#abt {
    min-height: auto;
    width: 100%;
    border-bottom: 0.1px solid #4d4d4b92;
}

#skills {
    min-height: 100vh;
    width: 100%;
    border-bottom: 0.1px solid #4d4d4b92;
}

#pro {
    min-height: 100vh;
    width: 100%;
    border-bottom: 0.1px solid #4d4d4b92;
}


.main {
    justify-content: center;
}

.hero-content {
    margin-left: 5%;
    line-height: 1;
}

.main h3 {
    color: #feb90e;
    margin-top: 8%;
    margin-bottom: 80px;
    font-size: 20px;
    border: 0.5px solid #feb90e;
    border-radius: 25px;
    display: inline-block;
    padding-right: 25px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main h2 {
    font-size: 100px;
    margin-top: 0;
    margin-bottom: 20px;
}

.main p {
    color: #4d4d4b;
    margin-top: 0;
    font-size: 25px;
}

.maain-b {
    display: flex;
    gap: 50px;
}

.button1 button {
    background-color: #feb90e;
    border-radius: 15px;
    font-size: 20px;
    padding: 20px;
    border: 1px solid #feb90e;
}

.button2 button {
    background-color: transparent;
    border-radius: 15px;
    font-size: 20px;
    color: #FEF3C7;
    padding: 20px;
    border: 1px solid #FEF3C7;
}

.abt-head h2 {
    color: #FEF3C7;
    padding-left: 5%;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
}

.skl-head h2 {
    color: #FEF3C7;
    padding-top: 0;
    padding-left: 5%;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.skl-head p {
    color: #4d4d4b;
    padding-top: 0%;
    padding-left: 5%;
    font-size: 20px;
    margin-top: 0;
}

.skl-head h3 {
    padding-top: 12%;
    padding-left: 5%;
    font-size: 20px;
    margin-bottom: 0;
}

.pro-head h2 {
    color: #FEF3C7;
    padding-top: 0;
    padding-left: 5%;
    font-size: 40px;
    margin-top: 0;
}

.pro-head h3 {
    padding-top: 10%;
    padding-left: 5%;
    font-size: 20px;
    margin-bottom: 0;
}


.f2 {
    background-color: #161614;
    height: 400px;
    width: 100%;
    border-top: 0.1px solid #4d4d4b92;
}

.skl-c {
    display: flex;
    padding-left: 5%;
    gap: 14px;

}

.skl-cr {
    height: 250px;
    width: 400px;
    background-color: #161614;
    border: 0.5px solid #2A2A27;
    border-radius: 20px;
    padding: 22px;
    transition: ease 0.4s;
}

.skl-cr:hover {
    border-color: #feb90e;
    transform: translateY(-6px);
}

.bl {
    display: flex;
    gap: 150px;
}

.p h2 {
    color: #feb90e;
    padding-left: 280%;
    font-size: 60px;
    margin-bottom: 0;
}

.p h3 {
    color: #4d4d4b;
    padding-left: 280%;
    padding-top: -200%;
    margin-top: 0;
    white-space: nowrap;
}

.h h2 {
    color: #feb90e;
    padding-left: 280%;
    font-size: 60px;
    margin-bottom: 0;
}

.h h3 {
    color: #4d4d4b;
    padding-left: 280%;
    padding-top: -200%;
    margin-top: 0;
}

.c {
    margin-left: -300px;
}

.c h2 {
    color: #feb90e;
    padding-left: 280%;
    font-size: 60px;
    margin-bottom: 0;
    white-space: nowrap;
}

.c h3 {
    color: #4d4d4b;
    padding-left: 280%;
    padding-top: -200%;
    margin-top: 0;
    white-space: nowrap;
}

.p-c {
    display: flex;
    padding-left: 5%;
    gap: 14px;

}

.p-cr {
    height: 300px;
    width: 400px;
    background-color: #161614;
    border: 0.5px solid #2A2A27;
    border-radius: 20px;
    padding: 22px;
    transition: ease 0.4s;
}

.p-cr:hover {
    border-color: #feb90e;
    transform: translateY(-6px);
}

.f2 h2 {
    text-align: center;
    color: #FEF3C7;
    padding-top: 3%;
    font-size: 50px;
    margin-bottom: 0;
}

.f2 h3 {
    text-align: center;
    color: #4d4d4b;
    padding-top: 0;
    font-size: 20px;
    margin-top: 0;
}

.button-c {
    padding-left: 560px;
    padding-top: 2%;
    display: flex;
    gap: 20px;
}

.b3 {
    height: 50px;
    width: 100px;
    background-color: #D97706;
    border: 1px solid #D97706;
    border-radius: 12px;
    transition: ease 0.4s;
}

.b4 {
    height: 50px;
    width: 100px;
    background-color: transparent;
    border: 1px solid #D97706;
    border-radius: 12px;
    color: #FEF3C7;
    transition: ease 0.4s;
}

.b5 {
    height: 50px;
    width: 100px;
    background-color: transparent;
    border: 1px solid #D97706;
    border-radius: 12px;
    color: #FEF3C7;
    transition: ease 0.4s;
}

.b3:hover {
    border-color: #feb90e;
    transform: translateY(-6px);
}

.b4:hover {
    border-color: #feb90e;
    transform: translateY(-6px);
}

.b5:hover {
    border-color: #feb90e;
    transform: translateY(-6px);
}

.f3 {
    background-color: #0C0C0A;
    height: 80px;
    width: 100%;
}

.fc {
    color: #4d4d4b;
    display: flex;
    gap: 1120px;
    padding-top: 1%;
    padding-left: 1.5%;
}

.p-cr h2 {
    color: #FEF3C7;
    font-size: 30px;
    text-align: left;
    margin-bottom: 0%;
}

.p-cr h3 {
    color: #4d4d4b;
    font-size: 20px;
    text-align: left;
    margin-top: 0%;
    margin-bottom: 0;
}

.p-cr a {
    text-decoration: none;
    align-items: center;
    color: #feb90e;
    display: flex;
    align-items: right;
    justify-content: right;
}

.u {
    display: flex;
    gap: 15px;
    margin-top: 0%;
    padding-left: 5.8%;
}

.u h4 {
    color: #4d4d4b;
    border: 0.1px solid #4d4d4b;
    border-radius: 6px;
    padding: 3%;
}

.p-crp {
    display: inline-block;
    float: right;
    color: #D97706;
    border: 0.1px solid #d977069f;
    background-color: #d9770641;
    margin-left: auto;
    border-radius: 15px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.skl-cr h2 {
    text-align: left;
    font-size: 30px;
    color: #D97706;
    border-bottom: 0.1px solid #4d4d4b;
}

.skl-cr li {
    font-size: 20px;
    text-align: left;
    color: #FEF3C7;
}

.abt-head h3 {
    color: #4d4d4b;
    margin-top: 0;
    padding-left: 5%;
}

.abt-head p {
    color: #D97706;
    padding-left: 5%;
    margin-bottom: 0;
    padding-top: 8%;
}

.abt-c {
    display: flex;
    gap: 50px;
}

.abt-t p {
    color: #4d4d4b;
    font-size: 20px;
    padding-left: 10%;
}

.abt-cr {
    height: 300px;
    width: 400px;
    background-color: #161614;
    border: 0.1px solid #D97706;
    border-radius: 12px;
}

.abt-crr {
    padding-right: 12%;
    padding-bottom: 6%;
}

.abtcr {
    display: flex;
}

.abtl p {
    color: #4d4d4b;
    text-align: left;
    padding-left: 10%;
    padding-top: 10%;
}

.abta p {

    padding-left: 180%;
    padding-top: 10%;
    color: #FEF3C7;
}