html {
    scroll-behavior: smooth;
}

body {
    font-family: Consolas, monospace;
    margin: 0;
    padding-top: 80px;
    background-color: black;

}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;

    background: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}


.hero {
    height: 100vh;
    margin-top: 0;
    padding-top: 60px;

    background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("pbg6.jpg");

    background-size: cover;
    background-position: center;
}

h1 {
    color: #00E5FF;
    margin-bottom: 10px;
    font-size: 26px;
    text-align: center;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}


.name1 {
    color: #FFFFFF;
    margin: 5px;
    line-height: 1.2;
    font-size: 95px;
    text-align: center;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);

}

.name2 {
    color: #C792EA;
    margin: 5px;
    line-height: 1.2;
    font-size: 95px;
    text-align: center;
    text-shadow: 0 0 15px rgba(199, 146, 234, 0.5);
}

.subtitle {
    text-align: center;
    color: #00E5FF;
    font-size: 20px;
}

.opts {
    position: absolute;
    top: 40px;

    right: 80px;
    font-size: 20px;
}

.opts a {
    color: #00E5FF;
    margin-left: 30px;
    text-decoration: none;
    transition: 0.3s;
}

.opts a:hover {
    color: #C792EA;
}

.icon {
    position: absolute;
    top: 20px;
}

.icon1 {
    color: white;
}

.icon2 {
    color: #00E5FF;
}

.left-name {
    position: absolute;
    top: 30px;
    left: 30px;
    display: flex;
    gap: 10px;
    font-size: 28px;
    font-family: Consolas, monospace;

}

.lname1 {
    color: white;
}

.lname2 {
    color: #00E5FF;
}

.scroll-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    color: #00E5FF;
    text-decoration: none;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0% { transform: translate(-50%, 0); }
    50% { transform: translate(-50%, 10px); }
    100% { transform: translate(-50%, 0); }
}

section {
    height: 100vh;
    padding: 80px;
    box-sizing: border-box;
}

.Abt {
    text-align: center;
    background-image: url(pbg7.jpg);
    background-size: cover;

}

.Skl {
    text-align: center;
    background-image: url(pbg7.jpg);
    background-size: cover;
}

.Pro {
    text-align: center;
    background-image: url(pbg7.jpg);
    background-size: cover;
}

.Con {
    text-align: center;
    background-image: url(pbg7.jpg);
    background-size: cover;
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {

    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .skills-list {
        flex-direction: column;
        align-items: center;
    }

    section {
        padding: 80px 10%;
    }

    .name1,
    .name2 {
        font-size: 40px;
    }

    .nav {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

}

input,
textarea {
    width: 300px;
    padding: 12px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 229, 255, 0.5);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    color: white;
}

::placeholder {
    color: #00E5FF;
    opacity: 0.8;
}

button {
    padding: 12px 30px;
    background: #00E5FF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.opts a:hover {
    color: #C792EA;
    transition: 0.3s;
}
